DISCORD_TOKEN=your_discord_bot_token
CHANNEL_ID=123456789012345678
DEEPL_API_KEY=your_deepl_api_key_optional
CHECK_INTERVAL_MINUTES=30
POST_ON_STARTUP=false
MAX_ARTICLES_TO_SCAN=8
HTTP_TIMEOUT_SECONDS=30
